@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="row d-md-flex align-items-center justify-content-between g-5">
        <div class="col-lg-5 text-end">
            <h1 id="h1-title" style="text-align:center;">HUMAN RESOURCE INFORMATION SYSTEM</h1>
        </div>
        <div class="col-lg-7">
            <img class="img-fluid w-75 d-block m-auto" src="~/img/home.png" alt="">
        </div>
        
    </div>
</div>